body {
    background-color: #5a6dff;
}

#generator-body {
    background-color: whitesmoke;
}

#password-area {
    border: solid darkred 2px;
    font-size: 30px;
    padding: 15% 5%;
    overflow-x: hidden;
}