body {
    background-color: #ccffac;
    background: url('https://webdesignerdepot.s3.amazonaws.com/default-images/25.jpg');
}

#generator-body {
    background-color: whitesmoke;
}

#password-area {
    border: solid darkred 2px;
    font-size: 30px;
    padding: 15% 5%;
    overflow-x: hidden;
}